/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */

.header {
    @include flexy-center;
    flex-wrap: wrap;
    width: 100%;
    height: 168px;
    justify-content: center;
    padding: 15px;

    @include medium {
        align-items: center;
        height: 110px;
        max-width: $container-med;
        padding: 20px;
    }

    @include large {
        max-width: $container-large;
        padding: 20px 15px;
    }

    @include xlarge {
        max-width: $container-xlarge;
    }

    &__top-container {
        @include flexy-center;
        height: 65px;

        @include small {
            @include page-container;
        }

        @include xsmall {
            flex-wrap: nowrap;
        }
    }

    &--logo {
        flex-basis: 62%;

        @include medium {
            flex-basis: 48%;
            margin-right: auto;
        }

        @include large {
            flex-basis: 40%;
            align-self: flex-start;
            margin-right: 20px;
        }

        @include xlarge {
            flex-basis: 32%;
        }
    }

    &--links {
        flex-basis: 42px;
        margin-left: auto;
        justify-content: right;

        @include xsmall {
            flex-basis: 30px;
            margin-left: 0;
        }

        @include medium {
            display: none;
        }

        @include large {
            display: flex;
            align-items: center;
        }
    }

    &--menu {
        flex-basis: 63px;
        flex-shrink: 0;
        margin-left: 20px;

        @include xsmall {
            margin-left: auto;
        }

        @include medium {
            order: 2;
        }
    }

    &--search {
        order: 1;

        @include medium {
            flex-basis: 237px;
            order: 1;
            margin-left: auto;
        }

        @include large {
            flex-basis: 63px;
            margin-left: 20px;
        }

        @include xlarge {
            flex-basis: 303px;
        }
    }

    &__button-container {
        display: none;

        @include large {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__hamburger-container {
        display: flex;
        width: 63px;
        height: 56px;
    }
}

.main-nav {
    @include layout-div;
    display: none;
    overflow: visible;
    height: 100px;
    width: 100%;
    background-color: $color-primary;

    @include large {
        display: flex;
        justify-content: center;
    }

    &__container {
        @include section-container;
        padding: 0 15px;
        display: flex;

        &::before {
            content: "";
            height: 100%;
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
    
        &::after {
            content: "";
            height: 100%;
            border-right: 1px solid rgba(0, 0, 0, 0.25);
        }

        @include xlarge {
            width: $container-xlarge;
        }
    }
}

.carousel {
    @include layout-div;
    padding-top: 0;

    @include large {
        border-top: 1px solid rgba(51, 54, 69, 0.5);
    }

    &__container {
        @include section-container;
        // @include page-container;
        // @include flexy-center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 0;
        // left: 2vw;
        z-index: 40;

        @include medium {
            left: calc((100vw - #{$container-med}) / 2);
        }

        @include large {
            height: calc(100% - 110px);
            left: calc((100vw - #{$container-large}) / 2);
            align-items: flex-start;
        }

        @include xlarge {
            left: calc((100vw - #{$container-xlarge}) / 2);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 100%);
    }
}

%card-deck {
    display: flex;
    flex-direction: column;
    gap: 30px 0;

    @include medium {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.services {
    @include section-container;
    // @include layout-div;
    // @include flexy-center;
    @extend %card-deck;

    &__icon-container {
        height: 60px;
        width: 60px;
        margin: 0 auto 17px;
        border-radius: 50%;
        background-color: #fff;
        color: #fff;
        text-align: center;
    }
}

.card {
    @include section-container;
    @include card;
    @include service($card-colors, $card-icons);

    &--latest {
        margin-top: 30px;
        align-items: flex-start;
    }

    @include medium {
        margin: 0;

        &--bespoke,
        &--it,
        &--marketing {
            width: 100%;
        }

        &--latest {
            width: 345px;
        }

        &--telecoms,
        &--web,
        &--security,
        &--training {
            width: calc((100% - 30px) / 2);

            .services__content {
                height: 66px;
            }
        }
    }

    @include large {

        &--bespoke,
        &--it,
        &--marketing {
            width: calc((100% - 60px) / 3);

            .services__content {
                height: 110px;
            }
        }

        &--latest,
        &--telecoms,
        &--web,
        &--security,
        &--training {
            width: 455px;
            
            .services__content {
                height: auto;
            }

            .latest__content {
                min-height: 66px;
            }
        }
    }

    @include xlarge {

        &--bespoke,
        &--it,
        &--marketing,
        &--latest {
            width: calc((100% - 60px) / 3);

            .services__content {
                height: initial;
            }
        }

        &--telecoms,
        &--web,
        &--security,
        &--training {
            width: calc((100% - 90px) / 4);

            .services__content {
                height: initial;
            }
        }
    }
}

.about {
    @include layout-div;

    &__container {
        @include section-container;
        align-items: flex-start;
        flex-direction: column;
    }


}

.latest {
    @include layout-div;
    padding-top: 0;

    &__heading-background {
        width: 100%;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    }

    &__heading-container {
        position: relative;
        @include section-container;
        flex-direction: column;
        align-items: left;
        padding: 40px 15px;
        text-align: left;
        position: relative;
    }

    &__content-container {
        @extend %card-deck;
        @include section-container;
        padding-top: 20px;
        gap: 0;

        @include medium {
            padding-top: 50px;
            gap: 30px;

            .card:nth-of-type(3) {
                display: none;
            }
        }

        @include xlarge {
            .card:nth-of-type(3) {
                display: flex;
            }
        }
    }
}

.poster {
    @include flexy-center;
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;

    &__details {
        padding-left: 20px;
    }
}

.clients {
    @include layout-div;
    overflow: visible;
    box-shadow: none;

    &__container {
        @include section-container;
        justify-content: space-evenly;
    }

    &__client {
        display: inline-block;
        // width: auto;
        padding: 0 20px;
        height: 45px;

        @include large {
            height: 63px;
        }

        @include xlarge {
            height: 70px;
        }
    }
}

.tooltip {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 265px;
    margin: 0 0 50px -132.5px;
    padding: 20px;
    background-color: $color-primary;
    color: #fff;

    &__arrow {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -36px;

        &::after {
            content: "";
            display: inline-block;
            border-color: $color-primary transparent transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }
}

.news-form {
    &__inputs-container {
        display: flex;
        flex-direction: column;

        @include large {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }


}

.footer {
    @include layout-div;
    @include section-container;
    box-shadow: none;
    flex-direction: column;

    &__sub-container {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include medium {
            justify-content: space-evenly;
        }
    }

    &__main-container {
        @include page-container;
        // @include flexy-center;
        display: flex;
        flex-direction: column;

        @include xlarge {
            flex-direction: row;

            div:nth-of-type(2) {
                margin-left: auto;
            }
        }
    }

    &__block {
        width: 225px;
        margin-bottom: 30px;
    }

    &__bottom {
        width: 100%;
        display: flex;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $color-footer-border;
    }

    &__social-container {
        display: flex;
        flex: 0 1;
        margin-top: -5px;
        margin-left: auto;
    }

    &__divider {
        flex: 0 0 3%;
        padding: 0 7px;
    }

    &__sitemap {
        flex: 0 0 13%;
    }

    &__copy {
        flex: 1 1 auto;
        max-width: max-content;
    }
}

.partners {
    @include section-container;
    display: none;
    justify-content: center;
    background-color: #fff;
    padding: 50px 0;

    @include medium {
        display: flex;
    }

    &__container {
        display: grid;
        width: calc(100% - 48px);
        max-width: 100%;
        height: 165px;
        grid-template-rows: 50% 34%;
        row-gap: 16%;
        margin: 0 24px;
        padding: 0 15px;

        @include large {
            grid-template-rows: 40% 45%;
            row-gap: 15%;
            max-width: $container-large;
            height: 178px;
        }

        @include xlarge {
            max-width: $container-xlarge;
        }
    }

    &__item {
        display: inline-block;
        width: max-content;
        justify-content: center;
        padding: 0 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        max-width: calc(#{$container-med} - 30px);
        width: 100%;

        @include large {
            max-width: calc(#{$container-large} - 30px);
        }

        @include xlarge {
            max-width: calc(#{$container-xlarge} - 30px);
        }
    }
}

.row--first {
    grid-row: 1;

    div:nth-of-type(1) {
        max-width: 260px;
    }
}

.row--second {
    grid-row: 2;

    div {
        width: 180px;

        @include large {
            width: 25%;
        }
    }

    div:nth-of-type(4) {
        width: auto;
    }
}