@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ====================================================== */
/* === Helper Placeholders                            === */
/* ====================================================== */
/* ====================================================== */
/* === Base Styles                                    === */
/* ====================================================== */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.42857143;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: #333645;
}

input,
textarea,
select {
  font-family: inherit;
}

h1 {
  line-height: 1.1;
}

/* ====================================================== */
/* === Header                                         === */
/* ====================================================== */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* ====================================================== */
/* === Containers                                     === */
/* ====================================================== */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 168px;
  justify-content: center;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .header {
    align-items: center;
    height: 110px;
    max-width: 750px;
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    max-width: 970px;
    padding: 20px 15px;
  }
}
@media screen and (min-width: 1260px) {
  .header {
    max-width: 1200px;
  }
}
.header__top-container {
  display: flex;
  align-items: center;
  height: 65px;
}
@media screen and (max-width: 767px) {
  .header__top-container {
    width: calc(100vw - 30px);
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .header__top-container {
    width: 750px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 992px) {
  .header__top-container {
    width: 970px;
  }
}
@media screen and (max-width: 767px) and (min-width: 1260px) {
  .header__top-container {
    width: 1200px;
  }
}
@media screen and (max-width: 375px) {
  .header__top-container {
    flex-wrap: nowrap;
  }
}
.header--logo {
  flex-basis: 62%;
}
@media screen and (min-width: 768px) {
  .header--logo {
    flex-basis: 48%;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .header--logo {
    flex-basis: 40%;
    align-self: flex-start;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .header--logo {
    flex-basis: 32%;
  }
}
.header--links {
  flex-basis: 42px;
  margin-left: auto;
  justify-content: right;
}
@media screen and (max-width: 375px) {
  .header--links {
    flex-basis: 30px;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header--links {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .header--links {
    display: flex;
    align-items: center;
  }
}
.header--menu {
  flex-basis: 63px;
  flex-shrink: 0;
  margin-left: 20px;
}
@media screen and (max-width: 375px) {
  .header--menu {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header--menu {
    order: 2;
  }
}
.header--search {
  order: 1;
}
@media screen and (min-width: 768px) {
  .header--search {
    flex-basis: 237px;
    order: 1;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .header--search {
    flex-basis: 63px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1260px) {
  .header--search {
    flex-basis: 303px;
  }
}
.header__button-container {
  display: none;
}
@media screen and (min-width: 992px) {
  .header__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header__hamburger-container {
  display: flex;
  width: 63px;
  height: 56px;
}

.main-nav {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  display: none;
  overflow: visible;
  height: 100px;
  width: 100%;
  background-color: #333645;
}
@media screen and (min-width: 992px) {
  .main-nav {
    display: flex;
    justify-content: center;
  }
}
.main-nav__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  padding: 0 15px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .main-nav__container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .main-nav__container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .main-nav__container {
    max-width: 1200px;
  }
}
.main-nav__container::before {
  content: "";
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.main-nav__container::after {
  content: "";
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1260px) {
  .main-nav__container {
    width: 1200px;
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  padding-top: 0;
}
@media screen and (min-width: 992px) {
  .carousel {
    border-top: 1px solid rgba(51, 54, 69, 0.5);
  }
}
.carousel__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 40;
}
@media screen and (min-width: 768px) {
  .carousel__container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .carousel__container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .carousel__container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .carousel__container {
    left: calc((100vw - 750px) / 2);
  }
}
@media screen and (min-width: 992px) {
  .carousel__container {
    height: calc(100% - 110px);
    left: calc((100vw - 970px) / 2);
    align-items: flex-start;
  }
}
@media screen and (min-width: 1260px) {
  .carousel__container {
    left: calc((100vw - 1200px) / 2);
  }
}
.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, black 100%);
}

.latest__content-container, .services {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}
@media screen and (min-width: 768px) {
  .latest__content-container, .services {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.services {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
}
@media screen and (min-width: 768px) {
  .services {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .services {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .services {
    max-width: 1200px;
  }
}
.services__icon-container {
  height: 60px;
  width: 60px;
  margin: 0 auto 17px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  flex-direction: column;
  position: relative;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .card {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .card {
    max-width: 1200px;
  }
}
.card--bespoke .services__icon-container {
  background-color: #67809f;
}
.card--bespoke .button--services {
  background-color: #67809f;
}
.card--bespoke:hover {
  background-color: #67809f;
  color: #fff;
}
.card--bespoke:hover div {
  background-color: #fff;
  color: #67809f;
}
.card--bespoke:hover .services__header::after {
  background-color: #fff;
}
.card--it .services__icon-container {
  background-color: #4183d7;
}
.card--it .button--services {
  background-color: #4183d7;
}
.card--it:hover {
  background-color: #4183d7;
  color: #fff;
}
.card--it:hover div {
  background-color: #fff;
  color: #4183d7;
}
.card--it:hover .services__header::after {
  background-color: #fff;
}
.card--marketing .services__icon-container {
  background-color: #2ecc71;
}
.card--marketing .button--services {
  background-color: #2ecc71;
}
.card--marketing:hover {
  background-color: #2ecc71;
  color: #fff;
}
.card--marketing:hover div {
  background-color: #fff;
  color: #2ecc71;
}
.card--marketing:hover .services__header::after {
  background-color: #fff;
}
.card--telecoms .services__icon-container {
  background-color: #d64541;
}
.card--telecoms .button--services {
  background-color: #d64541;
}
.card--telecoms:hover {
  background-color: #d64541;
  color: #fff;
}
.card--telecoms:hover div {
  background-color: #fff;
  color: #d64541;
}
.card--telecoms:hover .services__header::after {
  background-color: #fff;
}
.card--web .services__icon-container {
  background-color: #926fb1;
}
.card--web .button--services {
  background-color: #926fb1;
}
.card--web:hover {
  background-color: #926fb1;
  color: #fff;
}
.card--web:hover div {
  background-color: #fff;
  color: #926fb1;
}
.card--web:hover .services__header::after {
  background-color: #fff;
}
.card--security .services__icon-container {
  background-color: #f62459;
}
.card--security .button--services {
  background-color: #f62459;
}
.card--security:hover {
  background-color: #f62459;
  color: #fff;
}
.card--security:hover div {
  background-color: #fff;
  color: #f62459;
}
.card--security:hover .services__header::after {
  background-color: #fff;
}
.card--training .services__icon-container {
  background-color: #926fb1;
}
.card--training .button--services {
  background-color: #926fb1;
}
.card--training:hover {
  background-color: #926fb1;
  color: #fff;
}
.card--training:hover div {
  background-color: #fff;
  color: #926fb1;
}
.card--training:hover .services__header::after {
  background-color: #fff;
}
.card--bespoke .services__icon::before {
  content: "";
}
.card--it .services__icon::before {
  content: "";
}
.card--marketing .services__icon::before {
  content: "";
}
.card--telecoms .services__icon::before {
  content: "";
}
.card--web .services__icon::before {
  content: "";
}
.card--security .services__icon::before {
  content: "";
}
.card--training .services__icon::before {
  content: "";
}
.card--latest {
  margin-top: 30px;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .card {
    margin: 0;
  }
  .card--bespoke, .card--it, .card--marketing {
    width: 100%;
  }
  .card--latest {
    width: 345px;
  }
  .card--telecoms, .card--web, .card--security, .card--training {
    width: calc((100% - 30px) / 2);
  }
  .card--telecoms .services__content, .card--web .services__content, .card--security .services__content, .card--training .services__content {
    height: 66px;
  }
}
@media screen and (min-width: 992px) {
  .card--bespoke, .card--it, .card--marketing {
    width: calc((100% - 60px) / 3);
  }
  .card--bespoke .services__content, .card--it .services__content, .card--marketing .services__content {
    height: 110px;
  }
  .card--latest, .card--telecoms, .card--web, .card--security, .card--training {
    width: 455px;
  }
  .card--latest .services__content, .card--telecoms .services__content, .card--web .services__content, .card--security .services__content, .card--training .services__content {
    height: auto;
  }
  .card--latest .latest__content, .card--telecoms .latest__content, .card--web .latest__content, .card--security .latest__content, .card--training .latest__content {
    min-height: 66px;
  }
}
@media screen and (min-width: 1260px) {
  .card--bespoke, .card--it, .card--marketing, .card--latest {
    width: calc((100% - 60px) / 3);
  }
  .card--bespoke .services__content, .card--it .services__content, .card--marketing .services__content, .card--latest .services__content {
    height: initial;
  }
  .card--telecoms, .card--web, .card--security, .card--training {
    width: calc((100% - 90px) / 4);
  }
  .card--telecoms .services__content, .card--web .services__content, .card--security .services__content, .card--training .services__content {
    height: initial;
  }
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}
.about__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .about__container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .about__container {
    max-width: 1200px;
  }
}

.latest {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  padding-top: 0;
}
.latest__heading-background {
  width: 100%;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.latest__heading-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  flex-direction: column;
  align-items: left;
  padding: 40px 15px;
  text-align: left;
  position: relative;
}
@media screen and (min-width: 768px) {
  .latest__heading-container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .latest__heading-container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .latest__heading-container {
    max-width: 1200px;
  }
}
.latest__content-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  padding-top: 20px;
  gap: 0;
}
@media screen and (min-width: 768px) {
  .latest__content-container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .latest__content-container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .latest__content-container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .latest__content-container {
    padding-top: 50px;
    gap: 30px;
  }
  .latest__content-container .card:nth-of-type(3) {
    display: none;
  }
}
@media screen and (min-width: 1260px) {
  .latest__content-container .card:nth-of-type(3) {
    display: flex;
  }
}

.poster {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.poster__details {
  padding-left: 20px;
}

.clients {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  overflow: visible;
  box-shadow: none;
}
.clients__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .clients__container {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .clients__container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .clients__container {
    max-width: 1200px;
  }
}
.clients__client {
  display: inline-block;
  padding: 0 20px;
  height: 45px;
}
@media screen and (min-width: 992px) {
  .clients__client {
    height: 63px;
  }
}
@media screen and (min-width: 1260px) {
  .clients__client {
    height: 70px;
  }
}

.tooltip {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 265px;
  margin: 0 0 50px -132.5px;
  padding: 20px;
  background-color: #333645;
  color: #fff;
}
.tooltip__arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -36px;
}
.tooltip__arrow::after {
  content: "";
  display: inline-block;
  border-color: #333645 transparent transparent;
  border-style: solid;
  border-width: 35px 36px 0;
}

.news-form__inputs-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .news-form__inputs-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  box-shadow: none;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .footer {
    max-width: 1200px;
  }
}
.footer__sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__sub-container {
    justify-content: space-evenly;
  }
}
.footer__main-container {
  width: calc(100vw - 30px);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__main-container {
    width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .footer__main-container {
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .footer__main-container {
    width: 1200px;
  }
}
@media screen and (min-width: 1260px) {
  .footer__main-container {
    flex-direction: row;
  }
  .footer__main-container div:nth-of-type(2) {
    margin-left: auto;
  }
}
.footer__block {
  width: 225px;
  margin-bottom: 30px;
}
.footer__bottom {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #888;
}
.footer__social-container {
  display: flex;
  flex: 0 1;
  margin-top: -5px;
  margin-left: auto;
}
.footer__divider {
  flex: 0 0 3%;
  padding: 0 7px;
}
.footer__sitemap {
  flex: 0 0 13%;
}
.footer__copy {
  flex: 1 1 auto;
  max-width: max-content;
}

.partners {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  display: none;
  justify-content: center;
  background-color: #fff;
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .partners {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .partners {
    max-width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .partners {
    max-width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .partners {
    display: flex;
  }
}
.partners__container {
  display: grid;
  width: calc(100% - 48px);
  max-width: 100%;
  height: 165px;
  grid-template-rows: 50% 34%;
  row-gap: 16%;
  margin: 0 24px;
  padding: 0 15px;
}
@media screen and (min-width: 992px) {
  .partners__container {
    grid-template-rows: 40% 45%;
    row-gap: 15%;
    max-width: 970px;
    height: 178px;
  }
}
@media screen and (min-width: 1260px) {
  .partners__container {
    max-width: 1200px;
  }
}
.partners__item {
  display: inline-block;
  width: max-content;
  justify-content: center;
  padding: 0 20px;
}
.partners__row {
  display: flex;
  justify-content: space-between;
  max-width: calc(750px - 30px);
  width: 100%;
}
@media screen and (min-width: 992px) {
  .partners__row {
    max-width: calc(970px - 30px);
  }
}
@media screen and (min-width: 1260px) {
  .partners__row {
    max-width: calc(1200px - 30px);
  }
}

.row--first {
  grid-row: 1;
}
.row--first div:nth-of-type(1) {
  max-width: 260px;
}

.row--second {
  grid-row: 2;
}
.row--second div {
  width: 180px;
}
@media screen and (min-width: 992px) {
  .row--second div {
    width: 25%;
  }
}
.row--second div:nth-of-type(4) {
  width: auto;
}

/* ====================================================== */
/* === Sections                                       === */
/* ====================================================== */
section {
  width: 100%;
  background-color: #fff;
}

#banner {
  padding: 0;
  height: calc(100vh - 166px);
  min-height: 530px;
}
@media screen and (min-width: 768px) {
  #banner {
    height: calc(100vh - 110px);
    min-height: 589px;
  }
}

#about {
  background-color: #333645;
  color: #fff;
}
@media screen and (min-width: 992px) {
  #about {
    background-image: url("../../images/branded.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-position-y: center;
  }
}

#latest {
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  #clients {
    display: none;
  }
}

#newsletter {
  padding: 0 15px;
  color: #333645;
  background-color: #ddd;
}

#footer__content {
  background-color: #333645;
  color: #fff;
}
@media screen and (min-width: 768px) {
  #footer__content br {
    display: none;
  }
}
#footer__partners {
  background-color: #fff;
}

/* ====================================================== */
/* === Buttons                                        === */
/* ====================================================== */
/* Hamburger Nav Button */
.hamburger {
  z-index: 100;
  background-color: #333645;
  border-radius: 3px;
  height: 100%;
  width: 63px;
  margin-left: auto;
  padding-top: 10px;
}
.hamburger :nth-child(2) {
  margin: 5px auto;
}
.hamburger:hover {
  background-color: #222;
}
.hamburger__slice {
  width: 33px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
}
.hamburger__text {
  margin-top: 7px;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* Other buttons */
.button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  height: auto;
  padding: 5px 15px 4px;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #bbbfbc;
  cursor: pointer;
}
.button--cta {
  font-size: 1.25rem;
  background-color: #926fb1;
  line-height: 50px;
  padding: 5px 20px;
}
.button--cta:hover {
  background-color: #79539a;
}
.button--services {
  padding: 5px 18px;
}
.button--about {
  border: 1px solid #fff;
  background-color: #fff;
  color: #333645;
}
.button--about:hover {
  background-color: #e6e6e6;
}
.button--latest {
  background-color: #926fb1;
}
.button--latest:hover {
  background-color: #79539a;
}
.button--subscribe {
  background-color: #333645;
}
.button--subscribe:hover {
  background-color: #1d1f28;
}
.button--support, .button--contact {
  display: flex;
  line-height: 43.5px;
  align-items: center;
  font-size: 1.125rem;
}
.button--support {
  background-color: #4183d7;
  margin-right: 20px;
}
.button--support:hover {
  background-color: #286abd;
}
.button--contact {
  background-color: #999aa2;
}
.button--contact:hover {
  background-color: #7e808a;
}
.button--news {
  position: absolute;
  right: -1px;
  top: 10px;
  display: flex;
  align-items: center;
  background-color: #926fb1;
  border-radius: 0;
  height: 23px;
  padding: 0 10px;
  font-size: 0.75rem;
  font-weight: 600;
}
.button--news:hover {
  text-decoration: underline;
}

/* ====================================================== */
/* === Icons                                          === */
/* ====================================================== */
.call-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: solid 2px #fff;
}
.call-icon::before {
  font-family: "icomoon";
  font-size: 1.5rem;
  color: #333645;
  content: "";
}
.call-icon:hover {
  color: #222;
  border-bottom: solid 2px #222;
}
.call-icon:hover:before {
  color: #222;
}
@media screen and (min-width: 992px) {
  .call-icon {
    display: none;
  }
}

.search-icon {
  font-family: "glyphicons", sans-serif;
  font-size: 1.4rem;
}
.search-icon::before {
  content: "";
}

.right-arrow {
  float: right;
  margin: 0 -4px 0 12px;
}
.right-arrow::before {
  font-family: "icomoon";
  content: "";
}

.services__icon {
  font-family: "icomoon", serif;
  font-size: 1.2rem;
  line-height: 58px;
  color: inherit;
}

.support-icon,
.contact-icon {
  margin-right: 5px;
}
.support-icon::before,
.contact-icon::before {
  font-family: "icomoon";
  font-size: 1.4rem;
  margin-bottom: -2px;
}

.support-icon::before {
  content: "";
}

.contact-icon::before {
  content: "";
}

.main-nav__icon {
  margin: 0;
  font-family: "icomoon";
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.social-icon {
  font-family: "icomoon";
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.icon--facebook::after {
  content: "";
}
.icon--twitter::after {
  content: "";
}
.icon--insta::after {
  content: "";
}
.icon--linkedin::after {
  content: "";
}

/* ====================================================== */
/* === Images                                         === */
/* ====================================================== */
.header__logo-img {
  width: 100%;
}

.carousel__image {
  display: block;
  height: 100%;
  transform: translate(calc(-50% + 50vw));
}

.latest__image {
  align-self: center;
  height: auto;
  width: calc(100% + 62px);
  margin: -31px 0 30px;
}
.latest__image img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}
@media screen and (min-width: 992px) {
  .latest__image:hover img {
    transform: scale(1.1);
    opacity: 0.75;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.img--coloured {
  display: none;
}

.clients__client {
  position: relative;
}
.clients__client img {
  height: 100%;
}
.clients__client:hover .img--greyscale {
  display: none;
}
.clients__client:hover .img--coloured {
  display: initial;
}
.clients__client:hover .tooltip {
  display: flex;
}

.partners__item img {
  height: 60%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .partners__item img {
    height: 100%;
  }
}
.partners__item:hover .img--greyscale {
  display: none;
}
.partners__item:hover .img--coloured {
  display: initial;
}

.row--second img {
  max-width: 100%;
  height: auto;
}

.img--badge {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  max-width: 220px !important;
  width: 220px !important;
  height: 82px !important;
}

/* ====================================================== */
/* === Nav                                            === */
/* ====================================================== */
.header__logo-link {
  display: flex;
  align-items: center;
}
.header__form-link {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__form-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999aa2;
    border-radius: 0 3px 3px 0;
    height: 100%;
    width: 100%;
    font-size: 23px;
    color: #fff;
  }
  .header__form-link:hover {
    background-color: #7e808a;
  }
}
@media screen and (min-width: 992px) {
  .header__form-link {
    border-radius: 3px;
  }
}
@media screen and (min-width: 1260px) {
  .header__form-link {
    width: 63px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.main-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 19px 0 18px;
  height: 100%;
  flex: 1;
  color: #fff;
}
.main-nav__popunder {
  display: none;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 45px;
  padding: 0 calc((100vw - 970px) / 2);
  z-index: 70;
}
@media screen and (min-width: 1260px) {
  .main-nav__popunder {
    padding: 0 calc((100vw - 1200px) / 2);
  }
}

.nav-link--bespoke .main-nav__icon {
  color: #67809f;
}
.nav-link--bespoke:hover {
  background-color: #67809f;
}
.nav-link--bespoke:hover .main-nav__popunder {
  background-color: #526781;
  display: flex;
}
.nav-link--bespoke:hover .main-nav__icon {
  color: #fff;
}
.nav-link--it .main-nav__icon {
  color: #4183d7;
}
.nav-link--it:hover {
  background-color: #4183d7;
}
.nav-link--it:hover .main-nav__popunder {
  background-color: #286abd;
  display: flex;
}
.nav-link--it:hover .main-nav__icon {
  color: #fff;
}
.nav-link--marketing .main-nav__icon {
  color: #2ecc71;
}
.nav-link--marketing:hover {
  background-color: #2ecc71;
}
.nav-link--marketing:hover .main-nav__popunder {
  background-color: #25a25a;
  display: flex;
}
.nav-link--marketing:hover .main-nav__icon {
  color: #fff;
}
.nav-link--telecoms .main-nav__icon {
  color: #d64541;
}
.nav-link--telecoms:hover {
  background-color: #d64541;
}
.nav-link--telecoms:hover .main-nav__popunder {
  background-color: #bc2c28;
  display: flex;
}
.nav-link--telecoms:hover .main-nav__icon {
  color: #fff;
}
.nav-link--web .main-nav__icon {
  color: #926fb1;
}
.nav-link--web:hover {
  background-color: #926fb1;
}
.nav-link--web:hover .main-nav__popunder {
  background-color: #79539a;
  display: flex;
}
.nav-link--web:hover .main-nav__icon {
  color: #fff;
}
.nav-link--security .main-nav__icon {
  color: #f62459;
}
.nav-link--security:hover {
  background-color: #f62459;
}
.nav-link--security:hover .main-nav__popunder {
  background-color: #de093f;
  display: flex;
}
.nav-link--security:hover .main-nav__icon {
  color: #fff;
}
.nav-link--training .main-nav__icon {
  color: #926fb1;
}
.nav-link--training:hover {
  background-color: #926fb1;
}
.nav-link--training:hover .main-nav__popunder {
  background-color: #79539a;
  display: flex;
}
.nav-link--training:hover .main-nav__icon {
  color: #fff;
}
.nav-link--bespoke .main-nav__icon::before {
  content: "";
}
.nav-link--it .main-nav__icon::before {
  content: "";
}
.nav-link--marketing .main-nav__icon::before {
  content: "";
}
.nav-link--telecoms .main-nav__icon::before {
  content: "";
}
.nav-link--web .main-nav__icon::before {
  content: "";
}
.nav-link--security .main-nav__icon::before {
  content: "";
}
.nav-link--training .main-nav__icon::before {
  content: "";
}

.carousel__nav {
  display: flex;
  justify-content: space-around;
  z-index: 40;
  position: absolute;
  bottom: 14px;
  width: 185px;
  height: 50px;
}
@media screen and (min-width: 992px) {
  .carousel__nav {
    align-self: center;
  }
}
.carousel__nav-dot {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
.carousel__nav-dot.active {
  background-color: #fff;
}
.carousel__nav-dot.active::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.privacy-link {
  text-decoration: underline;
}

.footer a {
  color: #fff;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer a:visited {
  color: #fff;
}
.footer__social-link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 38px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 10px 7px;
}
.footer__social-link:hover {
  text-decoration: none !important;
}

.facebook:hover {
  background-color: #3b5998;
}

.insta:hover {
  background-color: #d93175;
}

.twitter:hover {
  background-color: #00aced;
}

.linkedin:hover {
  background-color: #0077b5;
}

.header__form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  padding: 6px 10px 5px 13px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
.header__form:focus {
  box-shadow: 0 0 3px #fff;
}
@media screen and (min-width: 768px) {
  .header__form {
    height: 56px;
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: none;
  }
}

.input--search {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #555;
}
.input--search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8;
}
.input--search::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .input--search {
    height: 100%;
    width: 174px;
    padding: 5px 15px;
    border: 1px solid #999aa2;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .input--search:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}
@media screen and (min-width: 992px) {
  .input--search {
    display: none;
  }
}
@media screen and (min-width: 1260px) {
  .input--search {
    display: initial;
    width: 240px;
  }
}

.news-form {
  background-color: transparent;
  padding: 50px 30px;
  max-width: calc(750px);
  margin: 0 auto;
}
.news-form__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.news-form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}
.news-form__check-label {
  display: inline-block;
  font-weight: 600;
  line-height: 2rem;
  margin-left: 19px;
  cursor: inherit;
}
.news-form__input-group {
  margin-bottom: 15px;
}
.news-form__input {
  background-color: #fff;
  width: 100%;
  display: block;
  height: 47px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.news-form__input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}
@media screen and (min-width: 992px) {
  .news-form__input {
    width: 425px;
  }
}
@media screen and (min-width: 1260px) {
  .news-form__input {
    width: 540px;
  }
}
.news-form__opt-out {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 35px;
  cursor: pointer;
}
.news-form__check-container {
  display: flex;
  align-items: flex-start;
  flex-basis: 32px;
  min-width: 13px;
}
.news-form__check {
  -moz-appearance: initial;
  position: relative;
  cursor: pointer;
}
.news-form__check:before {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  border: 3px solid #333645;
  border-radius: 3px;
  background-color: #ddd;
}
.news-form__check:checked:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1px;
  width: 30px;
  height: 30px;
  font-family: "icomoon";
  font-size: 1.3rem;
  color: #fff;
  background-color: #333645;
}
@media screen and (min-width: 992px) {
  .news-form {
    max-width: 1440px;
    width: 970px;
  }
}
@media screen and (min-width: 1260px) {
  .news-form {
    width: 1200px;
  }
}

.required::after {
  content: " *";
  color: #d24d57;
}

/* ====================================================== */
/* === Typography                                     === */
/* ====================================================== */
.main-nav {
  text-transform: uppercase;
}
.main-nav__small-text {
  margin: auto 0 0;
  font-size: 0.625rem;
}
.main-nav__large-text {
  margin: 0;
  font-size: 1.125rem;
  line-height: calc(1.125rem - 2px);
}
.main-nav__popunder-link {
  padding-left: 20px;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.main-nav__popunder-link::after {
  padding-left: 20px;
  content: "-";
}
@media screen and (min-width: 1260px) {
  .main-nav__popunder-link {
    padding-left: 30px;
    font-size: 1rem;
  }
  .main-nav__popunder-link::after {
    padding-left: 30px;
  }
}
.main-nav__popunder div:nth-of-type(1) {
  padding-left: 10px;
}
.main-nav__popunder div:last-of-type::after {
  content: "";
}

.carousel__title {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.carousel__text {
  font-size: 1.3rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .carousel__text {
    text-align: left;
  }
}

.services__header {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 0.9em;
  padding-bottom: 17px;
  margin-bottom: 11px;
  display: block;
}
.services__header::after {
  content: "";
  position: relative;
  bottom: -17px;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.services__content {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
  text-align: center;
}

.about p {
  margin: 0 0 25px;
  line-height: 30px;
}
.about__header {
  font-size: 2.25rem;
  font-weight: 400;
  margin: -6px 0 28px;
  text-transform: uppercase;
}
.about__intro {
  font-weight: 600;
}
.about__content {
  font-weight: 400;
}
@media screen and (min-width: 1260px) {
  .about p {
    width: 49%;
  }
}

.latest__heading {
  display: block;
  width: auto;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}
.latest__heading::after {
  content: "latest";
  display: inline-block;
  width: auto;
  height: 5px;
  position: absolute;
  left: 15px;
  bottom: 0;
  color: transparent;
  background-color: #333645;
}
.latest__headline {
  font-weight: 600;
  line-height: 24px;
  min-height: 48px;
  color: #926fb1;
  margin-bottom: 15px;
}
.latest__headline:hover {
  text-decoration: underline;
}
.latest__content {
  font-size: 0.8125rem;
  line-height: 22px;
  margin: 0 0 25px;
  color: #666;
}
@media screen and (min-width: 768px) {
  .latest__content {
    margin-top: auto;
  }
}

.poster__details {
  font-size: 0.875rem;
  line-height: 22px;
}
.poster__name {
  color: #333645;
  font-weight: 600;
}
.poster__date {
  color: #666;
  font-weight: 400;
}

.tooltip__header {
  position: relative;
  font-size: 1.125rem;
  padding-bottom: 17px;
  margin-bottom: 11px;
}
.tooltip__header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  width: 28px;
  background-color: #fff;
}
.tooltip__content {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  text-align: center;
}

.footer__title {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer__item {
  display: block;
  font-size: 0.8125rem;
  line-height: 22px;
}
.footer__bottom {
  font-size: 0.8125rem;
}
.footer__copy, .footer__divider, .footer__sitemap {
  padding-top: 5px;
}
.footer__divider {
  text-align: center;
}

.item--tel {
  margin-top: 22px;
}

/*# sourceMappingURL=styles.css.map */
