/* ====================================================== */
/* === Buttons                                        === */
/* ====================================================== */

/* Hamburger Nav Button */

.hamburger {
    z-index: 100;
    background-color: $color-primary;
    border-radius: 3px;
    height: 100%;
    width: 63px;
    margin-left: auto;
    padding-top: 10px;

    :nth-child(2) {
        margin: 5px auto;
    }

    &:hover {
        background-color: $color-hover;
    }

    &__slice {
        width: 33px;
        height: 3px;
        background-color: #fff;
        margin: 0 auto;
    }

    &__text {
        margin-top: 7px;
        font-size: 0.75rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
}

/* Other buttons */

.button {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    height: auto;
    padding: 5px 15px 4px;
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: $color-button;
    cursor: pointer;

    &--cta {
        $back-color: map-get($map: $card-colors, $key: 'web');
        font-size: 1.25rem;
        background-color: $back-color;
        line-height: 50px;
        padding: 5px 20px;
        &:hover {
            background-color: darken($back-color, 10%);
        }
    }

    &--services {
        padding: 5px 18px;
    }

    &--about {
        border: 1px solid #fff;
        background-color: #fff;
        color: $color-primary;
        &:hover {
            background-color: darken(#fff, 10%);
        }
    }

    &--latest {
        background-color: $color-latest;
        &:hover {
            background-color: darken($color-latest, 10%);
        }
    }

    &--subscribe {
        background-color: $color-primary;
        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &--support, &--contact {
        display: flex;
        line-height: 43.5px;
        align-items: center;
        font-size: 1.125rem;
    }

    &--support {
        $back-color: map-get($map: $card-colors, $key: 'it');
        background-color: $back-color;
        margin-right: 20px;
        &:hover {
            background-color: darken($back-color, 10%);
        }
    }

    &--contact {
        $back-color: $color-nav-input-primary;
        background-color: $back-color;
        &:hover {
            background-color: darken($back-color, 10%);
        }
    }

    &--news {
        position: absolute;
        right: -1px;
        top: 10px;
        display: flex;
        align-items: center;
        background-color: $color-latest;
        border-radius: 0;
        height: 23px;
        padding: 0 10px;
        font-size: 0.75rem;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}