.header__form {
    @include flexy-center;
    width: 100%;
    height: 47px;
    padding: 6px 10px 5px 13px;
    background-color: $color-background;
    outline: 1px solid $color-mobile-nav-input-outline;
    border: 2px solid $color-mobile-nav-input-border;
    border-radius: 2px;
    box-shadow: 0 0 5px $color-mobile-nav-input-border inset;

    &:focus {
        box-shadow: 0 0 3px #fff;
    }

    @include medium {
        height: 56px;
        padding: 0;
        border: none;
        outline: none;
        background-color: #fff;
        box-shadow: none;
    }

}

.input {
    &--search {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 0.9rem;
        color: $color-mobile-nav-input-text;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            opacity: 0.8;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            opacity: 0.8;
        }

        @include medium {
            height: 100%;
            width: 174px;
            padding: 5px 15px;
            border: 1px solid $color-nav-input-primary;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            &:focus {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
            }
        }

        @include large {
            display: none;
        }

        @include xlarge {
            display: initial;
            width: 240px;
        }
    }
}

.news-form {
    background-color: transparent;
    padding: 50px 30px;
    max-width: calc(#{$container-med});
    margin: 0 auto;

    &__title {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: 600;
    }

    &__check-label {
        display: inline-block;
        font-weight: 600;
        line-height: 2rem;
        margin-left: 19px;
        cursor: inherit;
    }

    &__input-group {
        margin-bottom: 15px;
    }

    &__input {
        background-color: #fff;
        width: 100%;
        display: block;
        height: 47px;
        padding: 5px 15px;
        border: 1px solid #ccc;
        border-radius: 2px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
            border-color: #5bc0de;
            outline: 0;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
        }

        @include large {
            width: 425px;
        }

        @include xlarge {
            width: 540px;
        }
    }

    &__opt-out {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 35px;
        cursor: pointer;
    }

    &__check-container {
        display: flex;
        align-items: flex-start;
        flex-basis: 32px;
        min-width: 13px;
    }

    &__check {
        -moz-appearance: initial;
        position: relative;
        cursor: pointer;
    }

    &__check:before {
        box-sizing: border-box;
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        top: 0;
        left: 0;
        border: 3px solid $color-primary;
        border-radius: 3px;
        background-color: $color-tertiary;
    }

    &__check:checked:after {
        content: "\e902";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1px;
        width: 30px;
        height: 30px;
        font-family: 'icomoon';
        font-size: 1.3rem;
        color: #fff;
        background-color: $color-primary;
    }

    @include large {
        max-width: 1440px;
        width: $container-large;
    }

    @include xlarge {
        width: $container-xlarge;
    }
}

.required {
    &::after {
        content: " *";
        color: #d24d57;
    }
}