/* ====================================================== */
/* === Images                                         === */
/* ====================================================== */


.header__logo-img {
    width: 100%;
}

.carousel__image {
    display: block;
    height: 100%;
    transform: translate(calc(-50% + 50vw));
}

.latest__image {
    align-self: center;
    height: auto;
    width: calc(100% + 62px);
    margin: -31px 0 30px;

    img {
        width: 100%;
        border-radius: 3px 3px 0 0;
    }

    @include large {
        &:hover {
            img {
                transform: scale(1.1);
                opacity: 0.75;
                transition: all 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
            }
        }
    }

}

.img--coloured {
    display: none;
}

.clients__client {
    position: relative;
    img {
        height: 100%;
    }

    &:hover {
        @include colorize;

        .tooltip {
            display: flex;
        }
    }
}

.partners__item {
    img {
        height: 60%;
        max-width: 100%;

        @include large {
            height: 100%;
        }
    }

    &:hover {
        @include colorize;
    }
}

.row--second {
    img {
        max-width: 100%;
        height: auto;
    }
}

.img--badge {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    max-width: 220px!important;
    width: 220px!important;
    height: 82px!important;
}