// // Variables

// Containers
$container-med: 750px;
$container-large: 970px;
$container-xlarge: 1200px;

// Colors
$color-background: rgba(0, 0, 0, .1);

$color-primary: #333645;
$color-secondary: #666;
$color-tertiary: #ddd;

$color-button: #bbbfbc;
$color-hover: #222;

$color-mobile-nav-input-text: 	#555;
$color-mobile-nav-input-outline: hsla(0, 0%, 100%, .2);
$color-mobile-nav-input-border: rgba(0, 0, 0, .1);

$color-nav-input-primary: #999aa2;
$color-nav-input-secondary: #7E808A;


$color-form-input-border: #e5e5e5;
$color-footer-border: #888;
$color-latest: #926fb1;

// Card colors and icons
$card-colors: (
    'bespoke' : #67809f,
    'it': #4183d7,
    'marketing': #2ecc71,
    'telecoms': #d64541,
    'web': #926fb1,
    'security': #f62459,
    'training': #926fb1,
    );

$card-icons: (
    'bespoke' : '\eafb',
    'it': '\ea17',
    'marketing': '\ea7c',
    'telecoms': '\e9e5',
    'web': '\ec40',
    'security': '\ead6',
    'training': '\ec41',
    );



